nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 30px;

  .contenedorEnlaces {
    ul {
      list-style: none;

      li {
        display: inline-block;
        margin: 0 20px;
      }
    }
  }
  .contenedorMovil {
    position: relative;
    display: none;
    button {
      border: 0;
      background-color: transparent;
      img {
        width: 20px;
      }
    }
    ul {
      display: none;
      padding: 10px 20px;
      background-color: rgba(255, 255, 255, 0.61);
      top: 0;
      right: 0;
      position: absolute;
      list-style: none;
      min-width: 140px;
      li {
        text-align: right;
        display: block;
        margin: 10px 0;
      }
    }
  }
}

@media only screen and (max-width: 950px) {
  nav {
    .contenedorEnlaces {
      display: none;
    }
    .contenedorMovil {
      display: block;
    }
  }
}
